.env
.env.*
!.env.example
/vendor/
/node_modules/
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
error_log
*.log
.DS_Store
